body {
  font-family: Arial;
  font-size: 14px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.section-content {
  margin-bottom: 10px;
}

.fill-lines {
  flex: 1;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    black 25px
  );
}

.uwagi {
  flex: 1;
}

@page {
  size: A4;
  margin: 10mm;
}
